
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="House Heating in United States" content="">
    <meta name="jiaqizuo" content="">
    <link rel="icon" href="favicon.ico">
    <title>House Heating in United States</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Household Heating in Districts from the United States</h1>
        <p>As we know, Pittsburgh has a long and cold winter every year. In the house where I am living, the central air conditioner contains both cooling system and heating system.
        It uses electricity to cool the house down and gas to warm the house up. That stimulates my interest on the household heating all over the United States. </p>
        <p>Thus, I propose a question:</p>
        <p>What method of household heating do residents in every district from United States mostly use?</p>
        <p>After that, I have found the following two datasets</p>
        <ul>
        <li><a href="https://www.google.com/fusiontables/data?docid=17c8um48aRkljF4bWnxrLJt1enW2_MfVU33Qza-o" target="_blank">Household Heating Statistics by District in 2008</a></li>
    	<li><a href="https://www.google.com/fusiontables/DataSource?docid=1e23hP8OlwqtiG-ijGn6kLbj-9lgCpeCJkudubQ" target="_blank">US Congressional District Boundaries</a></li>
  		</ul>
  		<p>I merged two datasets and created the following three maps according to methods houses are heated principally with, which are gas, electricity and fuel oil, kerosene.</p>
      </div>

	  <section>
	  	<h1>Gas</h1>
	  	<p><font size="4">The following map shows the proportion of residents principally using gas for house heating in every district.</font></p>
		<iframe width="1140" height="700" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col12+from+1XHgzMTRILprY3u65bwOWxU8HeIXuReyEl7fZ54gi&amp;viz=MAP&amp;h=false&amp;lat=53.45853109295441&amp;lng=-79.12123711920378&amp;t=1&amp;z=3&amp;l=col12&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe><p><font size="4">From the map, we can find in most middle and north districts from United States, at least 40% residents choose gas as the principal method for house heating.</font></p>
	  </section>
	  
	  <section>
	    <h1>Electricity</h1>
	  	<p><font size="4">The following map shows the proportion of residents principally using electricity for house heating in every district.</font></p>
		<iframe width="1140" height="700" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col12+from+1h9QvOB3-zJ_VgY2_rZns8gfxNdyr5F9gUQ8uHbt7&amp;viz=MAP&amp;h=false&amp;lat=43.32603421788987&amp;lng=-82.30436556862406&amp;t=1&amp;z=3&amp;l=col12&amp;y=5&amp;tmplt=6&amp;hml=KML"></iframe><p><font size="4">From the map, we can find in northwestern and most southern districts from United States, at least 40% residents choose electricity as the principal method for house heating. Especially, in some southeastern districts, the rate exceeds 60% or even 80%.</font></p>
	  </section>
	  
	  <section>
	    <h1>Fuel Oil, Kerosene</h1>
	  	<p><font size="4">The following map shows the proportion of residents principally using fuel oil, kerosene for house heating in every district.</font></p>
		<iframe width="1140" height="700" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col3%3E%3E1+from+1yxJ8PZdzYcAn6auexe-lm1iWgOp1xcKmFmvKO_XK&amp;viz=MAP&amp;h=false&amp;lat=58.29732887609514&amp;lng=-107.52331743127297&amp;t=1&amp;z=3&amp;l=col3%3E%3E1&amp;y=4&amp;tmplt=4&amp;hml=KML">
		</iframe>
		<p><font size="4">From the map, we can find in most districts from United States, no more than 20% residents choose fuel oil, kerosene as the principal method for house heating. However, in some northeastern districts, more than 40% residents still prefer fuel oil, kerosene.</font></p>
	  </section>
      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
